body{
    font-family: sans-serif;
    padding-top: 80px;
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-centered{
    max-width: 1200px;
    margin: auto;
    border: 1px red solid;
}

/* inizio nav bar */

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 80px;
    background-color: #0084fd;
}

.nav-inner{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fdc15f;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.nav-left img{
    width: 50%;
}

.nav-right{
    font-size: 2em;
    color: white;
}
/* fine nav bar */

/* inizio prima sezione featured */
section.features{
    color: #0084fd;
}

section .features-inner{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
    padding: 40px 15px;
}

section .features-card{
    width: calc(90%);
    background-color: #b5ddff;
    text-align: center;
    border-radius: 20px;
    padding: 20px 40px 10px;
}
.features-card:first-child{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 0;
}

.features-card:first-child p{
    padding: 0 0 25px;
}

section .features-card-text{
    text-align: left;
}

section .features-card img{
    width: 100%;
    display: block;
}

section.features i{
    font-size: 4em;
    margin: 15px 0;
}

section.features h3{
    font-size: 1.3em;
    margin: 5px 0 20px 0;
}

.features-card-text button{
    color: white;
    background-color: #0084fd;
    font-size: 1.2em;
    padding: 9px 60px;
    border: none;
    border-radius: 35px;
}

section.features p{
    color: rgb(0, 0, 0);
    line-height: 1.6em;
    font-size: 16px;
    padding: 0 20px 25px;
}

section.planning{
    background-color: #9792e4;
}

.planning-inner{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    padding: 50px 15px;
}

.planning-card.one{
    width: calc(95%);
    color: white;
}

.planning-card-container.one{
    border-radius: 20px;
    text-align: center;
}

.planning-card.two{
    width: calc(95%);
    /* background-color: white; */
    border-radius: 20px;
    text-align: center;
}

.planning-card-container.two{
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.planning-card.one img{
    width: 80%;
    margin-bottom: 50px;
}

.planning-card.one p, .planning-card.two p{
    margin: 50px 0;
    font-size: 14px;
    line-height: 1.7em;
}

.planning-card.two p{
    padding: 0 20px;
    font-style: italic;
}

.planning-card.two img{
    width: 70%;
    margin-bottom: 30px;
    background-color: white;
}

.planning-card.two h3{
    margin-bottom: 20px;
    font-size: 1.2em;
}

.planning-card.two{
    padding: 20px;
}

.testimonials-inner{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    padding: 10px 15px 50px;
}

.testimonials-card:first-child{
    color: black;
}

.testimonials-card:first-child h5{
    margin-bottom: 25px;
}

.testimonials-card:first-child h1{
    color: #9792e4;
    margin-bottom: 25px;
    font-size: 1.6em;
}

.testimonials-card{
    width: calc(90%);
    background-color: #9792e4;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 1.7em;
    border-radius: 16px;
    padding: 25px 20px;
}

.testimonials-card h3{
    margin-top: 15px;
}

.testimonials-card p{
    margin-top: 5px;
}

.testimonials-card i{
    margin: 0 10px;
    font-size: 1.2em;
}

.testimonials-img{
    border-radius: 50%;
}
.testimonials-card img{
    width: 50%;
    border-radius: 50%;
}

.testimonials-card:first-child{
    background-color: white;
}

section.benefits{
    background-color: #9792e4;
    color: white;
}

.benefits-inner{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    padding: 50px 15px;
}

.benefits-inner > h1{
    text-align: center;
    margin-bottom: 15px;
}

.benefits-card{
    color: #9792e4;
    width: calc(95%);

    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 25px 20px 25px;
}

.benefits-card h1{
    font-size: 2.0em;
    margin-bottom: 15px;
}

.benefits-card h3{
    margin-bottom: 15px;
}

.benefits-card p{
    color: #818181;
    font-size: 13px;
    line-height: 1.6em;
    margin-bottom: 15px;
}

.benefits-inner button{
    color: white;
    font-weight: bold;
    background-color: #9792e4;
    padding: 7px 30px;
    border-radius: 10px;
    border: none;
}

.about-inner{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}

.about-card{
    width: 95%;
    padding: 0 15px;
}

.about-card img{
    width: 60%;
    border-radius: 50%;
    margin: 10px 0 25px;
}

.about-card h1{
    font-size: 2em;
    color: #9792e4;;
    margin-bottom: 30px;
}

.about-card h2{
    color: #9792e4;;
    margin-bottom: 30px;
}

.about-card p{
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 30px;
}

.about-card button{
    color: white;
    background-color: #9792e4;
    font-size: 12px;
    padding: 7px 15px;
    border: none;
    border-radius: 15px;
}

section.getstarted{
    background-color: #9792e4;
    text-align: center;
    color: white;
}

.get-started-inner *{
    margin-bottom: 25px;    
}

.get-started-inner{
    padding: 50px 45px;
}

.get-started-inner h1{
    color: #fdc15f;
    font-size: 2.5em;
}

.get-started-inner h5{
    color: rgb(190, 188, 238);
}

.get-started-inner button{
    color: #9792e4;
    background-color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

.get-started-inner p{
    font-size: 13px;
    line-height: 1.7em;
}

.get-started-inner p{
    font-size: 14px;
    line-height: 1.7em;
}

footer{
    background-color: #333333;
    height: 300px;
}


/* desktop e tablet structure */

@media screen and (min-width: 577px) and (max-width: 768px) {

    section .features-inner{
        display: flex;
        flex-flow: row wrap;
        gap: 15px;
    }
    
    section .features-card{
        /* width: calc(100% / 6 - (15px / 6 * 5)); */
        width: calc(100% / 3 - (15px / 3 * 2));
        background-color: #b5ddff;
    }
    
    section .features-card:first-child{
        width: calc(100% / 3 * 2 - (15px / 3 * 1));
    } 

    section .features-card-img{
        display: flex;
        align-items: flex-end;
    }
    
    section .features-card:nth-child(2){
        background-color: #fdc15f;
    } 
    
    section .features-card-img{
        width: 50%;
    }
    
    }
    
    @media screen and (min-width: 769px) {
    
        section .features-inner{
            flex-flow: row wrap;
            align-items: stretch;
        }
        
        section .features-card{
            width: calc(100% / 3 - (15px / 3 * 2));
            background-color: #b5ddff;
        }
        
        section .features-card:first-child{
            flex-direction: row;
            width: calc(100% / 3 * 2 - (15px / 3 * 1));
        } 
    
        section .features-card-img{
            display: flex;
            align-items: flex-end;
        }
    
        section .features-card img{
            width: 100%;
        }
        
        section .features-card:nth-child(2){
            background-color: #fdc15f;
        } 
        
        section .features-card-img, .features-card-text{
            width: 50%;
        }



        section .planning-inner{
            flex-direction: row;
            align-items: flex-end;
        }

        .planning-card-container.one{
            width: 70%;
        }

        .planning-card.one{
            display: flex;
            justify-content: center;
        }

        .planning-card.two{
            display: flex;
            align-items: end;
        }

        .planning-card-container.two{
            width: 70%;
            border-radius: 20px;
            text-align: center;
        }
    }